body {
    background-color: darkslategrey;
}
#container {
    width: 768px;
    margin: auto;
}
header {
    background-color: cornflowerblue;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}
header h1 {
    color: white;
    text-shadow: #000000 5px 5px, black -5px -5px 5px;
}
header h1:before {
    content: "the_";
}
header h1:after {
    content: "_site";
}
aside {
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 170px;
    height: 590px;
    float: right;
    box-shadow: inset 30px 30px 30px 10px cornflowerblue;
}
aside p {
    display: block;
    width: 590px;
    margin-top: 320px;
    margin-left: -180px;
    transform: rotate(90deg);
    text-align: center;
    font-size: 35px;
    color: cornflowerblue;
}
main {
    position:relative;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 590px;
    height: 590px;
}
img {
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin:0;
    padding:0;
}
img:hover{
    z-index: 1;
    transition: 1s;
}
.img1 {
    left: 0;
    top: 0;
}
.img1:hover {
    transform: translate(50%,50%) scale(2);
}
.img2 {
    right: 0;
    top: 0;
}
.img2:hover {
    transform: translate(-50%,50%) scale(2);
}
.img3 {
    right: 0;
    bottom: 0;
}
.img3:hover {
    transform: translate(-50%,-50%) scale(2);
}
.img4 {
    left: 0;
    bottom: 0;
}
.img4:hover {
    transform: translate(50%,-50%) scale(2);
}
article {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px 0;
    padding:12px;
    width: 30.2%;
    height: 150px;
    float: left;
    overflow: auto;
}
footer {
    background-color: cornflowerblue;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    clear: left;
    color: #ffffff;
}
footer .large {
    font-size: 60px;
    margin: 0;
}
footer ul {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}
footer li {
     display: inline;
     margin: 0 5px;
}
footer li a{
    text-decoration: none;
    color: #ffffff;
}
footer li a:hover {
    color: black;
}
#fixed {
    position: fixed;
    top: 2px;
    right: 2px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: black;
    border-radius:25px;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
}
#fixed:hover {
    width: 210px;
}
@media screen and (max-width: 768px) {
    main {
        margin-top:5px;
        width:auto;
        height: auto;
        padding-top: 100%;
    }
    aside {
        float: none;
        height: auto;
        width: auto;
    }
    aside p {
        margin: 50px;
        width: auto;
        transform: rotate(0deg);
    }
    article {
        float: none;
        width: auto;
        height: auto;
    }
    #container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 0.4fr 0.4fr 0.4fr 0.4fr;
    }
}