body{
    max-width: 1400px;
    margin:0 auto;
    color: white;
    font-family: Arial;
    font-size:20px;
    text-align: center;
}
header, footer, aside{
    padding:15px 0;
    background-color: darkolivegreen;
}
article{
    background-color: cornflowerblue;
    padding:15px;
}
article > div{
    padding:5px;
}
@media screen and (min-width: 400px) {
aside{
    float:left;
    width:50%;
}
footer{
    clear:both;
}
}
.color_1{
    background-color: #0081a9;
}
.color_2{
    background-color: #008bb3;
}